table tr:nth-child(2n) {
  background-color: rgba(0,0,0, 0.1);
}

th{
  white-space: nowrap;
  max-width: 10ch;
  min-width: 4ch;
}

td{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 10ch;
}

#delete-mechanic-modal-container{
  width: 469px;
}

@media (max-width : 469px) {
  #delete-mechanic-modal-container{
    width: 95%;
  }
}

@media (max-width : 279px) {
  #delete-mechanic-modal-container{
    width: 280px;
  }
}

