table tr:nth-child(2n) {
  background-color: rgba(0,0,0, 0.1);
}

th{
  white-space: nowrap;
  max-width: 10ch;
  min-width: 4ch;
}

td{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 10ch;
}

