/* FONT FONT FONT FONT FONT FONT FONT FONT FONT FONT FONT FONT FONT FONT FONT FONT FONT FONT FONT FONT */


@font-face {
  font-family: Silkscreen;
  src: url(/src/assets/fonts/Silkscreen-Regular.ttf);
}

@font-face {
  font-family: Rajdhani;
  src: url(/src/assets/fonts/Rajdhani-Regular.ttf);
}

.font-silkscreen{
  font-family: Silkscreen, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.font-rajdhani{
  font-family: Rajdhani, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.font-black-outline{
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000, rgb(0, 0, 0) 1px 0 4px,
  rgb(0, 0, 0) 1px 0 1px ; 
}


/* SCROLLBAR SCROLLBAR SCROLLBAR SCROLLBAR SCROLLBAR SCROLLBAR SCROLLBAR SCROLLBAR SCROLLBAR SCROLLBAR */

::-webkit-scrollbar{
  width: 14px;
  height: 10px;
}

::-webkit-scrollbar-track{
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  
}

::-webkit-scrollbar-thumb{
  background-color: rgb(177, 177, 177);
  border-radius: 4px;
}


.scrollbar-color::-webkit-scrollbar{
  width: 10px;
  height: 10px;
}

.scrollbar-color::-webkit-scrollbar-track{
  background-color: rgb(187, 187, 187);
}




/* BACKGROUND BACKGROUND BACKGROUND BACKGROUND BACKGROUND BACKGROUND BACKGROUND BACKGROUND BACKGROUND */

.bg-jet-dark{
  background-color: rgb(28, 29, 35);
}

.bg-jet-plum-gradient{
  background: linear-gradient(rgb(28, 29, 35), rgb(39, 38, 45));
}

.bg-jet-dark-green{
  background-color: rgb(41, 91, 66);
}
.bg-dot{
  background: url(../assets/bg-patterns/dot-grid.webp);
  background-repeat:repeat;
}

.bg-bean{
  background: url(../assets/bg-patterns/beanstalk.webp);
  background-repeat:repeat;
}

.bg-jet-light{
  background-color: rgb(37, 40, 48);
}

.bg-brown-plum-gradient{
  background: rgb(39, 38, 45)
}

.bg-gradient{
  background:linear-gradient(rgb(0, 0, 0), rgb(48, 48, 48))
}

.bg-gradient-green-blue{
  background:linear-gradient(rgb(0, 255, 145), rgb(0, 106, 33))
}

.bg-gradient-orange-yellow{
  background:linear-gradient(rgb(246, 160, 0), rgb(254, 0, 0))
}

.bg-gradient-red-pink{
  background:linear-gradient(rgba(255, 0, 0), rgba(255, 2, 234))
}

/* HEIGHT WIDTH HEIGHT WIDTH HEIGHT WIDTH HEIGHT WIDTH HEIGHT WIDTH HEIGHT WIDTH HEIGHT WIDTH HEIGHT WIDTH */
.w-95pct{
  width: 95%;
} 

.min-w-64{
  min-width: 16rem;
}

/* UTIL */

.break-word{
  word-wrap: break-word;
  word-break: break-all;
}

/* MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA */

@media (max-width: 768px) {
  .mw-768px-hidden{
    display: none;
  }
}

/*-----------------------------*/
@media (max-width: 280px) {
  #app{
    width: 280px;
  }
}



