table{
  table-layout: fixed;
}

table tr:nth-child(2n) {
  background-color: rgba(0,0,0, 0.1);
}

th{
  white-space: nowrap;
  
}

td{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}